<h1>Books</h1>
<h5>Title</h5>
<h5>Body</h5>
<% @books.each do |book| %>
  <%= book.title %>
  <%= book.body %>
  <%= link_to "Show", book_path(book.id) %>
  <%= link_to "Edit", edit_book_path(book.id) %>
  <%= link_to "Destroy", book_path(book.id), method: :delete, "data-confirm" => "Are you sure？" %>
<% end %>

<h2>New book</h2>
<%= flash[:alert] %>
<%= form_with model: @book do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit 'Create Book' %>
<% end %>